# Binaries for programs and plugins
launch.json

src/ssftp/ssftp.yaml
deploy/aci/internet/deploy-aci-internetzone-bak.yaml
deploy/aci/internet/ssftp.yaml
deploy/aci/intranet
src/ssftp/ssftp
src/ssftp/ssftp.exe
private.pem

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
src/ssftp/ssftp
src/sftpclient/__debug_bin
src/sftpclient/sftpclient
